<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Pura" %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascripts"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>

  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

  <%= javascript_include_tag "application" %>

  <meta charset="utf-8">
  <title>Grill Responsive Template</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="../../stylesheet/bootstrap.css">
  <link rel="stylesheet" href="../../stylesheet/font-awesome.css">
  <link rel="stylesheet" href="../../stylesheet/templatemo_style.css">
  <link rel="stylesheet" href="../../stylesheet/templatemo_misc.css">
  <link rel="stylesheet" href="../../stylesheet/flexslider.css">
  <link rel="stylesheet" href="../../stylesheet/testimonails-slider.css">

  <script src="../../js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>


  <script src="../../js/vendor/jquery-1.11.0.min.js"></script>
  <script src="../../js/vendor/jquery.gmap3.min.js"></script>
  <script src="../../js/plugins.js"></script>
  <script src="../../js/main.js"></script>


</head>


<body>


<header>
  <div id="top-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="home-account">
            <%= link_to "Home", welcomes_path %>
            <a href="#">My account</a>
            <%= link_to "Sign In", new_user_session_path %>
            <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
            <%= link_to "Admin", new_admin_session_path %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="cart-info">
            <i class="fa fa-shopping-cart"></i>
            (<a href="#">5 items</a>) in your cart (<a href="#">$45.80</a>)
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="main-header">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="logo">
            <a href="#"><img src="../../images/logo.png" title="Grill Template" alt="Pura Website Template" ></a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="main-menu">
            <ul>
              <li><%= link_to "Home", welcomes_path %></li>
              <!--<li><a href="index.html">Home</a></li>-->
              <!--<li><a href="about-us.html.erb">About</a></li>-->
              <li><%= link_to "About",  aboutus_page_welcomes_path %></li>
              <li><%= link_to "Products", products_path %></li>
              <!--<li><a href="products.html">Products</a></li>-->
              <!--<li><a href="contact-us.html">Contact</a></li>-->
              <li><%= link_to "Blog", blogs_path %></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="search-box">
            <form name="search_form" method="get" class="search_form">
              <input id="search" type="text" />
              <input type="submit" id="search-button" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!--<nav class="navbar navbar-fixed-top">-->
<!--<div class="navbar-inner">-->
<!--<div class="container">-->
<!--&lt;!&ndash;<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->

<!--<div class="container nav-collapse">-->
<!--<ul class="nav navbar-nav navbar pull-left">-->
<!--<li><a class="brand" href='/welcomes'>Pura</a><li>-->
<!--<li><%= link_to "Pura|Eat", products_path %></li>-->
<!--<li><%= link_to "Pura|Beauty", welcomes_path %></li>-->
<!--<li><%= link_to "Pura|Baby", welcomes_path %></li>-->
<!--<li><%= link_to "Pura|Community", blogs_path %></li>-->

<!--</ul>-->
<!--<ul class="nav navbar-nav navbar pull-right">-->
<!--<% if session['warden.user.user.key'] != nil then %>-->
    <!--<li><%= link_to "Hello, " + User.find(session['warden.user.user.key'][0][0]).name, '/welcomes' %></li>-->
    <!--<li><%= link_to "Shopping Cart", products_path + '/my/shopping_cart' %></li>-->
    <!--<% end %>-->
<!--<li><%= link_to "Sign In", new_user_session_path %></li>-->
<!--<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>-->
<!--<li><%= link_to "Admin", new_admin_session_path %></li>-->
<!--</ul>-->
<!--</div>-->
<!--&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->

<div class="container">
  <div class="row">
    <%= bootstrap_flash %>





    <div id="heading">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading-content">
              <h2>About Us</h2>
              <span>Home / <a href="#">About us</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="timeline-post">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading-section">
              <h2>Who We Are</h2>
              <img src="../../images/under-heading.png" alt="" >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h3>Our Company</h3>
            <p>Descriptions about your company.</p>
          </div>
          <div class="col-md-6">
            <h3>Team Management</h3>
            <p>Descriptions about your team management.</p>
          </div>
        </div>

        <div class="space50"></div>

        <div class="row">
          <div class="col-md-2 col-sm-4">
            <div class="timeline-thumb">
              <div class="thumb">
                <img src="../../images/timeline1.jpg" alt="">
              </div>
              <div class="overlay">
                <div class="timeline-caption">
                  <a href="#"><h4>Breakfast</h4></a>
                  <p>8:00 AM</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="timeline-thumb">
              <div class="thumb">
                <img src="../../images/timeline2.jpg" alt="">
              </div>
              <div class="overlay">
                <div class="timeline-caption">
                  <a href="#"><h4>Lunch</h4></a>
                  <p>11:00 AM</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="timeline-thumb">
              <div class="thumb">
                <img src="../../images/timeline3.jpg" alt="">
              </div>
              <div class="overlay">
                <div class="timeline-caption">
                  <a href="#"><h4>Lunch</h4></a>
                  <p>2:00 PM</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="timeline-thumb">
              <div class="thumb">
                <img src="../../images/timeline4.jpg" alt="">
              </div>
              <div class="overlay">
                <div class="timeline-caption">
                  <a href="#"><h4>Dinner</h4></a>
                  <p>7:00 PM</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="timeline-thumb">
              <div class="thumb">
                <img src="../../images/timeline5.jpg" alt="">
              </div>
              <div class="overlay">
                <div class="timeline-caption">
                  <a href="#"><h4>Dinner</h4></a>
                  <p>8:00 PM</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="timeline-thumb">
              <div class="thumb">
                <img src="../../images/timeline6.jpg" alt="">
              </div>
              <div class="overlay">
                <div class="timeline-caption">
                  <a href="#"><h4>Dinner</h4></a>
                  <p>9:00 PM</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="our-team">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading-section">
              <h2>Our Team</h2>
              <img src="../../images/under-heading.png" alt="" >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="authors">
            <div class="col-md-3 col-sm-6">
              <div class="team-thumb">
                <div class="author">
                  <img src="../../images/author1.png" alt="Tracy - templatemo">
                </div>
                <div class="overlay">
                  <div class="author-caption">
                    <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="author-details">
                <h2>Pearl</h2>
                <!--<span>Designer</span>-->
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="team-thumb">
                <div class="author">
                  <img src="../../images/author2.png" alt="Mary - templatemo">
                </div>
                <div class="overlay">
                  <div class="author-caption">
                    <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="author-details">
                <h2>Harry</h2>
                <!--<span>Developer</span>-->
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="team-thumb">
                <div class="author">
                  <img src="../../images/author3.png" alt="Julia - templatemo">
                </div>
                <div class="overlay">
                  <div class="author-caption">
                    <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="author-details">
                <h2>Julia</h2>
                <!--<span>Director</span>-->
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="team-thumb">
                <div class="author">
                  <img src="../../images/author4.png" alt="Linda - templatemo">
                </div>
                <div class="overlay">
                  <div class="author-caption">
                    <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="author-details">
                <h2>Celia</h2>
                <!--<span>Manager</span>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>






    <div id="testimonails">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading-section">
              <h2>Testimonials and Awards</h2>
              <img src="../../images/under-heading.png" alt="" >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="testimonails-slider">
              <ul class="slides">
                <li>
                  <div class="testimonails-content">
                    <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                    <h6>Name - <a href="#">Position</a></h6>
                  </div>
                </li>
                <li>
                  <div class="testimonails-content">
                    <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                    <h6>Name - <a href="#">Position</a></h6>
                  </div>
                </li>
                <li>
                  <div class="testimonails-content">
                    <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                    <h6>Name - <a href="#">Position</a></h6>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/row-->

  <footer>
    <div class="container">
      <div class="top-footer">
        <div class="row">
          <div class="col-md-9">
            <div class="subscribe-form">
              <span>Get in touch with us</span>
              <form method="get" class="subscribeForm">
                <input id="subscribe" type="text" />
                <input type="submit" id="submitButton" />
              </form>
            </div>
          </div>
          <div class="col-md-3">
            <div class="social-bottom">
              <span>Follow us:</span>
              <ul>
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <!--<li><a href="#" class="fa fa-rss"></a></li>-->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="main-footer">
        <div class="row">
          <div class="col-md-3">
            <div class="about">
              <h4 class="footer-title">About WellnessCafe</h4>
              <p>WellnessCafe is free HTML5 template by <span class="blue">template</span><span class="green">mo</span> and it is a free responsive bootstrap layout that can be applied for any purpose.
                <br><br>Credit goes to <a rel="nofollow" href="http://unsplash.com">Unsplash</a> for photos used in this template.</p>
            </div>
          </div>
          <!--<div class="col-md-3">-->
          <!--<div class="shop-list">-->
          <!--<h4 class="footer-title">Shop Categories</h4>-->
          <!--<ul>-->
          <!--<li><a href="#"><i class="fa fa-angle-right"></i>New Grill Menu</a></li>-->
          <!--<li><a href="#"><i class="fa fa-angle-right"></i>Healthy Fresh Juices</a></li>-->
          <!--<li><a href="#"><i class="fa fa-angle-right"></i>Spicy Delicious Meals</a></li>-->
          <!--<li><a href="#"><i class="fa fa-angle-right"></i>Simple Italian Pizzas</a></li>-->
          <!--<li><a href="#"><i class="fa fa-angle-right"></i>Pure Good Yogurts</a></li>-->
          <!--<li><a href="#"><i class="fa fa-angle-right"></i>Ice-cream for kids</a></li>-->
          <!--</ul>-->
          <!--</div>-->
          <!--</div>-->

          <% all_blogs = Blog.all %>
          <% recent_blogs = [] %>
          <% i = 0 %>
          <% if (all_blogs.length > 0) then %>
              <% i = all_blogs.last().id %>
          <% end %>

          <% while (recent_blogs.length < 4 && i >= 1) %>
              <% if (Blog.exists?(i)) then %>
                  <% recent_blogs << Blog.find(i) %>
              <% end %>
              <% i -= 1 %>
          <% end %>

          <div class="col-md-3">
            <div class="recent-posts">
              <h4 class="footer-title">Recent posts</h4>
              <% if (recent_blogs.length >= 1) then %>
                  <div class="recent-post">
                    <div class="recent-post-thumb">
                      <%= image_tag recent_blogs[0].picture_url(:thumb).to_s %>
                    </div>
                    <div class="recent-post-info">
                      <h6><a href="#">
                        <%= recent_blogs[0].title %>
                      </a></h6>
                    </div>
                  </div>
              <% end %>
              <% if (recent_blogs.length >= 2) then %>
                  <div class="recent-post">
                    <div class="recent-post-thumb">
                      <%= image_tag recent_blogs[1].picture_url(:thumb).to_s %>
                    </div>
                    <div class="recent-post-info">
                      <h6><a href="#">
                        <%= recent_blogs[1].title %>
                      </a></h6>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="recent-posts">
              <h4 class="footer-title">Recent posts</h4>
              <% if (recent_blogs.length >= 3) then %>
                  <div class="recent-post">
                    <div class="recent-post-thumb">
                      <%= image_tag recent_blogs[2].picture_url(:thumb).to_s %>
                    </div>
                    <div class="recent-post-info">
                      <h6><a href="#">
                        <%= recent_blogs[2].title %>
                      </a></h6>
                    </div>
                  </div>
              <% end %>
              <% if (recent_blogs.length >= 4) then %>
                  <div class="recent-post">
                    <div class="recent-post-thumb">
                      <%= image_tag recent_blogs[3].picture_url(:thumb).to_s %>
                    </div>
                    <div class="recent-post-info">
                      <h6><a href="#">
                        <%= recent_blogs[3].title %>
                      </a></h6>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>



          <div class="col-md-3">
            <div class="more-info">
              <h4 class="footer-title">More info</h4>
              <p>More Information can add here.</p>
              <ul>
                <li><i class="fa fa-phone"></i>000-000-0000</li>
                <li><i class="fa fa-globe"></i>3600 Chestnut Street, Philadelphia, PA</li>
                <li><i class="fa fa-envelope"></i><a href="#">info@company.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-footer">
        <p>Copyright © 2084 <a href="#">Your Company Name</a></p>
      </div>

    </div>
  </footer>

</div>
<!-- /container -->

</body>
</html>

