<!--<p id="notice"><%= notice %></p>-->

<!--<h1>Welcome to WellnessCoffee</h1>-->

<!--<table>-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th colspan="3"></th>-->
    <!--</tr>-->
  <!--</thead>-->

<!--</table>-->

<!--<br>-->

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- templatemo 417 grill -->
<!--
Grill Template
http://www.templatemo.com/preview/templatemo_417_grill
-->

<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->



<div id="slider">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <div class="slider-caption">
          <h1>Healthy Food</h1>
          <p>this is where to add more description about the theme
            <br><br>to be continued.</p>
          <!--<a href="single-post.html">Shop Now</a>-->
          <%= link_to "Shop Now", products_path %>
        </div>
        <img src="/images/slide1.jpg" alt="" />
      </li>
      <li>
        <div class="slider-caption">
          <h1>Healthy Lifestyle</h1>
          <p>this is where to add more description about the theme
            <br><br>to be continued.</p>
          <!--<a href="single-post.html">More Details</a>-->
          <%= link_to "More Details", blogs_path %>
        </div>
        <img src="/images/slide2.jpg" alt="" />
      </li>
      <li>
        <div class="slider-caption">
          <h1>Healthy Drinks</h1>
          <p>this is where to add more description about the theme
            <br><br>to be continued.</p>
          <!--<a href="single-post.html">Get Ready</a>-->
          <%= link_to "Get Ready", products_path %>
        </div>
        <img src="/images/slide3.jpg" alt="" />
      </li>
    </ul>
  </div>
</div>


<div id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-section">
          <h2>Wellness Cafe is Ready for you!</h2>
          <img src="images/under-heading.png" alt="" >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="service-item">
          <div class="icon">
            <i class="fa fa-pencil"></i>
          </div>
          <h4>Make an order</h4>
          <p>Add more description if necessary.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-item">
          <div class="icon">
            <i class="fa fa-bullhorn"></i>
          </div>
          <h4>Promotions</h4>
          <p>Add more description if necessary.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-item">
          <div class="icon">
            <i class="fa fa-bell"></i>
          </div>
          <h4>Ready to Serve</h4>
          <p>Add more description if necessary.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-item">
          <div class="icon">
            <i class="fa fa-heart"></i>
          </div>
          <h4>Satisfaction</h4>
          <p>Add more description if necessary.</p>
        </div>
      </div>
    </div>
  </div>
</div>





<div id="latest-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-section">
          <h2>Latest blog posts</h2>
          <img src="images/under-heading.png" alt="" >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="blog-post">
          <div class="blog-thumb">
            <% if @blogs[0] != nil %>
            <%= image_tag @blogs[0].picture_url(:thumb).to_s %>
            <% end %>
            <!--<img src="images/blogpost1.jpg" alt="" />-->
          </div>
          <div class="blog-content">
            <div class="content-show">
              <h4><a href="blogs.html">
                <% if @blogs[0] != nil %>
                    <%= @blogs[0].title %>
                <% end %>
              </a></h4>
              <!--<span>-->
               <!---->
              <!--</span>-->
            </div>
            <div class="content-hide">
              <p>
                <% if @blogs[0] != nil %>
                    <%= @blogs[0].content %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="blog-post">
          <div class="blog-thumb">
            <!--<img src="images/blogpost2.jpg" alt="" />-->
            <% if @blogs[1] != nil %>
                <%= image_tag @blogs[1].picture_url(:thumb).to_s %>
            <% end %>
          </div>
          <div class="blog-content">
            <div class="content-show">
              <h4><a href="blogs.html">
                <% if @blogs[1] != nil %>
                    <%= @blogs[1].title %>
                <% end %>
              </a></h4>
              <!--<span>23 Sep 2084</span>-->
            </div>
            <div class="content-hide">
              <p>
                <% if @blogs[1] != nil %>
                    <%= @blogs[1].content %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="blog-post">
          <div class="blog-thumb">
            <!--<img src="images/blogpost3.jpg" alt="" />-->
            <% if @blogs[2] != nil %>
                <%= image_tag @blogs[2].picture_url(:thumb).to_s %>
            <% end %>
          </div>
          <div class="blog-content">
            <div class="content-show">
              <h4><a href="blogs.html">
                <% if @blogs[2] != nil %>
                    <%= @blogs[2].title %>
                <% end %>
              </a></h4>
              <!--<span>14 Sep 2084</span>-->
            </div>
            <div class="content-hide">
              <p>
                <% if @blogs[2] != nil %>
                    <%= @blogs[2].content %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="blog-post">
          <div class="blog-thumb">
            <!--<img src="images/blogpost4.jpg" alt="" />-->
            <% if @blogs[3] != nil %>
                <%= image_tag @blogs[3].picture_url(:thumb).to_s %>
            <% end %>
          </div>
          <div class="blog-content">
            <div class="content-show">
              <h4><a href="blogs.html">
                <% if @blogs[3] != nil %>
                    <%= @blogs[3].title %>
                <% end %>
              </a></h4>
              <!--<span>25 Aug 2084</span>-->
            </div>
            <div class="content-hide">
              <p>
                <% if @blogs[3] != nil %>
                    <%= @blogs[3].content %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="blog-post">
          <div class="blog-thumb">
            <!--<img src="images/blogpost5.jpg" alt="" />-->
            <% if @blogs[4] != nil %>
                <%= image_tag @blogs[4].picture_url(:thumb).to_s %>
            <% end %>
          </div>
          <div class="blog-content">
            <div class="content-show">
              <h4><a href="blogs.html">
                <% if @blogs[4] != nil %>
                    <%= @blogs[4].title %>
                <% end %>
              </a></h4>
              <!--<span>17 Aug 2084</span>-->
            </div>
            <div class="content-hide">
              <p>
                <% if @blogs[4] != nil %>
                    <%= @blogs[4].content %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="blog-post">
          <div class="blog-thumb">
            <!--<img src="images/blogpost6.jpg" alt="" />-->
            <% if @blogs[5] != nil %>
                <%= image_tag @blogs[5].picture_url(:thumb).to_s %>
            <% end %>
          </div>
          <div class="blog-content">
            <div class="content-show">
              <h4><a href="blogs.html">
                <% if @blogs[5] != nil %>
                    <%= @blogs[5].title %>
                <% end %>
              </a></h4>
              <!--<span>12 Aug 2084</span>-->
            </div>
            <div class="content-hide">
              <p>
                <% if @blogs[5] != nil %>
                    <%= @blogs[5].content %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="testimonails">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-section">
          <h2>What Customers Say</h2>
          <img src="images/under-heading.png" alt="" >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="testimonails-slider">
          <ul class="slides">
            <li>
              <div class="testimonails-content">
                <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                <h6>Name- <a href="#">Position</a></h6>
              </div>
            </li>
            <li>
              <div class="testimonails-content">
                <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                <h6>Name - <a href="#">Position</a></h6>
              </div>
            </li>
            <li>
              <div class="testimonails-content">
                <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                <h6>Name - <a href="#">Positon</a></h6>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




