<p id="notice"><%= notice %></p>

<h1>Pura|Eat</h1>

<br>

<h4>See by categories:</h4>
<table>
  <tr>
    <td><%= link_to 'All Categories', products_path %></td>
    <% Category.all.each do |category| %>
        <td><%= link_to category.name, products_path + '/cate/' + category.id.to_s %></td>
    <% end %>
  </tr>
</table>

<br><br>

<table>
  <thead>
    <tr>
      <th>Preview</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag product.image_url(:thumb).to_s %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.description %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
