<p id="notice"><%= notice %></p>

<br>

<div id="heading">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-content">
          <h2>Pura|Eat Products</h2>
          <span><a href="/welcomes">Home</a></span>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div id="products-post">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="product-heading">
          <h2>Hungry ?</h2>
          <img src="/assets/under-heading.png" alt="" >
        </div>
      </div>
    </div>
  </div>
</div>





<h4>See by categories:</h4>
<table>
  <tr>
    <td><%= link_to 'ALL', products_path %></td>
    <% Category.all.each do |category| %>
        <td><%= link_to category.name, products_path + '/cate/' + category.id.to_s %></td>
    <% end %>
  </tr>
</table>

<br><br>

<table>
  <thead>
    <tr>
      <th>Preview</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag product.image_url(:thumb).to_s %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.description %></td>
        <td><%= link_to 'Show', product %></td>
        <!--<td><%= link_to 'Edit', edit_product_path(product) %></td>-->
        <!--<td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        <td><%= link_to 'Add To Shopping Cart', products_path + '/add/' + product.id.to_s + '/shopping_cart' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

