<p id="notice"><%= notice %></p>

<br>

<!--<div id="heading" style="backgroud-image: url(../../assets/images/bg-image.jpg)">-->
<div id="heading">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-content">
          <h2>Pura|Eat Products</h2>
          <span><a href="/welcomes">Home</a></span>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div id="products-post">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="product-heading">
          <h2>Hungry ?</h2>
          <img src="/images/under-heading.png" alt="" >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="filters col-md-12 col-xs-12">
        <ul id="filters" class="clearfix">
          <li><span class="filter"><%= link_to "all", products_path %></span></li>
          <% Category.all.each do |category| %>
              <li><span class="filter"><%= link_to category.name, products_path + '/cate/' + category.id.to_s %></span></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="row">
      <% @products.each do |product| %>
          <div class="col-md-3 col-sm-6 mix portfolio-item">
            <div class="portfolio-wrapper">
              <div class="portfolio-thumb">
                <%= image_tag product.image_url().to_s %>
                <div class="hover">
                  <div class="hover-iner">
                    <%= link_to "Quick View", product.image_url().to_s, :class =>"fancybox" %>
                  </div>
                </div>
              </div>
              <div class="label-text">
                <h3><%= link_to product.name, product %></h3>
                <span class="text-category">$<%= product.price %></span>
              </div>
            </div>
          </div>
      <% end %>


    </div>
  </div>
</div>

<br>

