<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @rate.rating %>
</p>

<p>
  <strong>Product:</strong>
  <%= @rate.product %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
