<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Pura" %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascripts"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>

  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <!--<%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>-->

  <!--&lt;!&ndash; For iPhone with high-resolution Retina display: &ndash;&gt;-->
  <!--&lt;!&ndash; Size should be 114 x 114 pixels &ndash;&gt;-->
  <!--<%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>-->

   <!--For first- and second-generation iPad:-->
   <!--Size should be 72 x 72 pixels-->
  <!--<%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>-->

  <!--&lt;!&ndash; For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: &ndash;&gt;-->
  <!--&lt;!&ndash; Size should be 57 x 57 pixels &ndash;&gt;-->
  <!--<%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>-->

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->

  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

  <%= javascript_include_tag "application" %>

  <meta charset="utf-8">
  <title>Grill Responsive Template</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="../../stylesheet/bootstrap.css">
  <link rel="stylesheet" href="../../stylesheet/font-awesome.css">
  <link rel="stylesheet" href="../../stylesheet/templatemo_style.css">
  <link rel="stylesheet" href="../../stylesheet/templatemo_misc.css">
  <link rel="stylesheet" href="../../stylesheet/flexslider.css">
  <link rel="stylesheet" href="../../stylesheet/testimonails-slider.css">

  <script src="../../js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>


  <script src="../../js/vendor/jquery-1.11.0.min.js"></script>
  <script src="../../js/vendor/jquery.gmap3.min.js"></script>
  <script src="../../js/plugins.js"></script>
  <script src="../../js/main.js"></script>


</head>


<body>


<header>
  <div id="top-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="home-account">
            <%= link_to "Home", root_path %>
            <% if (session['warden.user.user.key'] != nil) then %>
                <%= link_to "Hello, " + User.find(session['warden.user.user.key'][0][0]).name, root_path, :style=>"color:orange;"%>
                <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
            <% else %>
                <%= link_to "Sign In", new_user_session_path %>
                <%= link_to "Sign Up", new_user_registration_path %>
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
          <% if (session['warden.user.user.key'] != nil) then %>
          <div class="cart-info">
            <i class="fa fa-shopping-cart"></i>
            (<%= link_to User.find(session['warden.user.user.key'][0][0]).num_of_items_in_cart().to_s + ' items', '/products/my/shopping_cart' %>)
            in your cart
            (<%= link_to "$" + User.find(session['warden.user.user.key'][0][0]).total_price_in_cart().to_s, '/products/my/shopping_cart' %>)
          </div>
          <% else %>
              <div class="cart-info">
                <%= link_to "Admin", new_admin_session_path, :style=>"color:grey;" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="main-header">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="logo">
            <%= link_to image_tag("../../images/logo.png"), root_path %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="main-menu">
            <ul>
              <%= link_to "Home", root_path %>
              <!--<li><a href="index.html">Home</a></li>-->
              <!--<li><a href="about-us.html.erb">About</a></li>-->
              <%= link_to "About",  aboutus_page_welcomes_path %>
              <%= link_to "Products", products_path %>
              <!--<li><a href="products.html">Products</a></li>-->
              <!--<li><a href="contact-us.html">Contact</a></li>-->
              <%= link_to "Blog", blogs_path %>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="search-box">
            <form name="search_form" method="get" class="search_form">
              <input id="search" type="text" />
              <input type="submit" id="search-button" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!--<nav class="navbar navbar-fixed-top">-->
  <!--<div class="navbar-inner">-->
    <!--<div class="container">-->
      <!--&lt;!&ndash;<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->

      <!--<div class="container nav-collapse">-->
        <!--<ul class="nav navbar-nav navbar pull-left">-->
          <!--<li><a class="brand" href='/welcomes'>Pura</a><li>-->
          <!--<li><%= link_to "Pura|Eat", products_path %></li>-->
          <!--<li><%= link_to "Pura|Beauty", root_path %></li>-->
          <!--<li><%= link_to "Pura|Baby", root_path %></li>-->
          <!--<li><%= link_to "Pura|Community", blogs_path %></li>-->

        <!--</ul>-->
        <!--<ul class="nav navbar-nav navbar pull-right">-->
          <!--<% if session['warden.user.user.key'] != nil then %>-->
            <!--<li><%= link_to "Hello, " + User.find(session['warden.user.user.key'][0][0]).name, '/welcomes' %></li>-->
              <!--<li><%= link_to "Shopping Cart", products_path + '/my/shopping_cart' %></li>-->
          <!--<% end %>-->
          <!--<li><%= link_to "Sign In", new_user_session_path %></li>-->
          <!--<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>-->
          <!--<li><%= link_to "Admin", new_admin_session_path %></li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->

<div class="container">
  <div class="row">
      <%= bootstrap_flash %>
      <%= yield %>
  </div>
  <!--/row-->

  <footer>
    <div class="container">
      <div class="top-footer">
        <div class="row">
          <div class="col-md-9">
            <div class="subscribe-form">
              <span>Get in touch with us</span>
              <form method="get" class="subscribeForm">
                <input id="subscribe" type="text" />
                <input type="submit" id="submitButton" />
              </form>
            </div>
          </div>
          <div class="col-md-3">
            <div class="social-bottom">
              <span>Follow us:</span>
              <ul>
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <!--<li><a href="#" class="fa fa-rss"></a></li>-->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="main-footer">
        <div class="row">
          <div class="col-md-3">
            <div class="about">
              <h4 class="footer-title">About WellnessCafe</h4>
              <p>WellnessCafe is free HTML5 template by <span class="blue">template</span><span class="green">mo</span> and it is a free responsive bootstrap layout that can be applied for any purpose.
                <br><br>Credit goes to <a rel="nofollow" href="http://unsplash.com">Unsplash</a> for photos used in this template.</p>
            </div>
          </div>

          <% all_blogs = Blog.all %>
          <% recent_blogs = [] %>
          <% i = 0 %>
          <% if (all_blogs.length > 0) then %>
              <% i = all_blogs.last().id %>
          <% end %>

          <% while (recent_blogs.length < 4 && i >= 1) %>
              <% if (Blog.exists?(i)) then %>
                  <% recent_blogs << Blog.find(i) %>
              <% end %>
              <% i -= 1 %>
          <% end %>

          <div class="col-md-3">
            <div class="recent-posts">
              <h4 class="footer-title">Recent posts</h4>
              <% if (recent_blogs.length >= 1) then %>
                  <div class="recent-post">
                    <div class="recent-post-thumb">
                      <%= image_tag recent_blogs[0].picture_url(:thumb).to_s %>
                    </div>
                    <div class="recent-post-info">
                      <h6><a href="#">
                        <%= recent_blogs[0].title %>
                      </a></h6>
                    </div>
                  </div>
              <% end %>
              <% if (recent_blogs.length >= 2) then %>
                  <div class="recent-post">
                    <div class="recent-post-thumb">
                      <%= image_tag recent_blogs[1].picture_url(:thumb).to_s %>
                    </div>
                    <div class="recent-post-info">
                      <h6><a href="#">
                        <%= recent_blogs[1].title %>
                      </a></h6>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="recent-posts">
              <h4 class="footer-title">Recent posts</h4>
              <% if (recent_blogs.length >= 3) then %>
                  <div class="recent-post">
                    <div class="recent-post-thumb">
                      <%= image_tag recent_blogs[2].picture_url(:thumb).to_s %>
                    </div>
                    <div class="recent-post-info">
                      <h6><a href="#">
                        <%= recent_blogs[2].title %>
                      </a></h6>
                    </div>
                  </div>
              <% end %>
              <% if (recent_blogs.length >= 4) then %>
                  <div class="recent-post">
                    <div class="recent-post-thumb">
                      <%= image_tag recent_blogs[3].picture_url(:thumb).to_s %>
                    </div>
                    <div class="recent-post-info">
                      <h6><a href="#">
                        <%= recent_blogs[3].title %>
                      </a></h6>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
          <!--<div class="col-md-3">-->
            <!--<div class="recent-posts">-->
              <!--<h4 class="footer-title">Recent posts</h4>-->
              <!--<div class="recent-post">-->
                <!--<div class="recent-post-thumb">-->
                  <!--&lt;!&ndash;<img src="images/recent-post1.jpg" alt="">&ndash;&gt;-->
                  <!--<% if @blogs[2] != nil %>-->
                      <!--<%= image_tag @blogs[2].picture_url(:thumb).to_s %>-->
                  <!--<% end %>-->
                <!--</div>-->
                <!--<div class="recent-post-info">-->
                  <!--<h6><a href="#">-->
                    <!--<% if @blogs[2] != nil %>-->
                        <!--<%= @blogs[2].title %>-->
                    <!--<% end %>-->
                  <!--</a></h6>-->
                  <!--&lt;!&ndash;<span>24/12/2084</span>&ndash;&gt;-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="recent-post">-->
                <!--<div class="recent-post-thumb">-->
                  <!--&lt;!&ndash;<img src="images/recent-post2.jpg" alt="">&ndash;&gt;-->
                  <!--<% if @blogs[3] != nil %>-->
                      <!--<%= image_tag @blogs[3].picture_url(:thumb).to_s %>-->
                  <!--<% end %>-->
                <!--</div>-->
                <!--<div class="recent-post-info">-->
                  <!--<h6><a href="#">-->
                    <!--<% if @blogs[3] != nil %>-->
                        <!--<%= @blogs[3].title %>-->
                    <!--<% end %>-->
                  <!--</a></h6>-->
                  <!--&lt;!&ndash;<span>18/12/2084</span>&ndash;&gt;-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <div class="col-md-3">
            <div class="more-info">
              <h4 class="footer-title">More info</h4>
              <p>More Information can add here.</p>
              <ul>
                <li><i class="fa fa-phone"></i>000-000-0000</li>
                <li><i class="fa fa-globe"></i>3600 Chestnut Street, Philadelphia, PA</li>
                <li><i class="fa fa-envelope"></i><a href="#">info@company.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-footer">
        <p>Copyright © 2084 <a href="#">Your Company Name</a></p>
      </div>

    </div>
  </footer>

</div>
<!-- /container -->

</body>
</html>
